# Dependencies
node_modules/
dist/
.upm/

# Environment variables
.env
*.env
backend/.env

# Virtual environment
venv/
.venv/
backend/venv/

# Python
__pycache__/
*.py[cod]

# Database
*.db
*.sqlite
*.sqlite3

# Logs & OS
*.log
.DS_Store
.vscode/
